<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .ui-widget,
            .ui-widget .ui-widget {
                font-size: 11px !important;
            }
        </style>
        <title>Vendas Fiap - Logon </title>
    </h:head>
<f:view>
	<h:form>
	
		<p:panel id="envMsg" header="Enviar Mensagem">
	
		<table width="95%" border="0" cellspacing="3" cellpadding="0">
			<tr>
				<td width="200" height="20" bgcolor="#F5F5F7" class="texto_corpo">
				
				<h:outputLabel id="lMmensagem" value="* Mensagem" />
				
				</td>
				<td bgcolor="#F5F5F7">
				<p:inputText id="pMmensagem" value="#{enviarMensagemBean.mensagem}" size="30" maxlength="30" />
				</td>
			</tr>

		</table>
		
		<table width="95%" border="0" cellpadding="0" cellspacing="3">
			<tr id="uc54_Cadastrar">
				<td width="200">&nbsp;</td>


				<td><p:commandButton value="Enviar Mensagem" onclick="confirmation.show()"
					type="button" />
				</td>

				<p:confirmDialog message="Confirma o envio da mensagem ?" header="Confirmation"
					severity="alert" widgetVar="Atenção">
					<p:commandButton value="Sim"
						oncomplete="confirmation.hide()"
						actionListener="#{enviarMensagemBean.enviarMensagem}" />
					<p:commandButton value="Não" onclick="confirmation.hide()"
						type="button" />
				</p:confirmDialog>

			</tr>
			<tr>
			<td>
				<h:outputLabel id="alerta" value="(*)Campo de preenchimento obrigatorio" />
			</td>
			</tr>
		</table>
		</p:panel>

	</h:form>
</f:view>


</html>