<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
.ui-widget,.ui-widget .ui-widget {
	font-size: 11px !important;
}
</style>
	<title>Vendas Fiap - Logon</title>
</h:head>



<p:graphicImage value="/logo.jpg" />


<h:form id="form">



	<p:panel id="panel" style="margin-bottom:10px;">
		<p:messages id="messages" />
		<h:panelGrid columns="3">
			<h:outputLabel for="username" value="Usuário: *" />
			<p:inputText id="username" value="#{logarBean.username}"
				required="true" label="Username">
				<f:validateLength minimum="2" />
			</p:inputText>
			<p:message for="username" />

			<h:outputLabel for="password" value="Senha *" />
			<p:password id="password" value="#{logarBean.password}"
				required="true" label="Password" />
			<p:message for="password" />
		</h:panelGrid>
	</p:panel>

	<p:commandButton value="Logar" id="logarBean"
		ajax="false" action="#{logarBean.login}"
		styleClass="ui-priority-primary" />



</h:form>


</html>