<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
.ui-widget,.ui-widget .ui-widget {font-size: 12px !important;}
.ui-layout,.ui-layout-doc,.ui-layout-unit,.ui-layout-wrap,.ui-layout-bd,.ui-layout-hd{
             border: none;}

</style>
	<title>Fiap Vendas - Menu</title>
</h:head>

<p:layout fullPage="true">

	<p:layoutUnit position="north" size="0" >
		<p:graphicImage value="/logo.jpg" />  
	</p:layoutUnit>

	<p:layoutUnit position="west" size="200" resizable="true"
		closable="true" collapsible="true">
		<h:form>
			<p:growl id="messages" />
			<p:menu>
				<p:menuitem value="Voltar" outcome="/menu" icon="ui-icon-arrowrefresh-1-w" />
			</p:menu>
		</h:form>
	</p:layoutUnit>

	<p:layoutUnit position="center">
		<h:form> 
		Listar compra com valore maior que 0 e menor que 500"
			<br>
			<br>
			<p:dataTable id="tabela" var="produto" value="#{listaC.listaProduto}">
				<p:column headerText="Codigo">
					<h:outputText value="#{produto.codigo}" />
				</p:column>

				<p:column headerText="Descricao">
					<h:outputText value="#{produto.descricao}" />
				</p:column>

				<p:column headerText="Preço">
					<h:outputText value="#{produto.preco}" />
				</p:column>

				<p:column headerText="Estoque">
					<h:outputText value="#{produto.estoque}" />
				</p:column>
			</p:dataTable>
			</br>
			</br>
        </h:form>
	</p:layoutUnit>
</p:layout>

</html>