<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style>
.ui-widget,.ui-widget .ui-widget {
	font-size: 12px !important;
}

.ui-layout,.ui-layout-doc,.ui-layout-unit,.ui-layout-wrap,.ui-layout-bd,.ui-layout-hd
	{
	border: none;
}
</style>
	<title>Fiap Vendas - Menu</title>
</h:head>

<p:layout fullPage="true">

	<p:layoutUnit position="north" size="70">
		<p:graphicImage value="/logo.jpg" />
	</p:layoutUnit>



	<p:layoutUnit position="west" size="170" resizable="true"
		closable="true" collapsible="true">
		<h:form>
			<p:growl id="messages" />
			<p:menu>

				<p:menuitem value="Popula Tabela" outcome="/populaTabela"
					update="messages" icon="ui-icon-disk" />
				<p:menuitem value="Lista Compras" outcome="/listaCompra"
					update="messages" icon="ui-icon-search" />
				<p:menuitem value="Lista Produto" outcome="/listaProduto"
					update="messages" icon="ui-icon-search" />
				<p:menuitem value="Lista Cliente" outcome="/listaCliente"
					update="messages" icon="ui-icon-search" />
				<p:menuitem value="Lista Reservas" outcome="/listaReserva"
					update="messages" icon="ui-icon-search" />
				<p:menuitem value="Sair" outcome="/index" icon="ui-icon-close" />

			</p:menu>
		</h:form>
	</p:layoutUnit>



	<p:layoutUnit position="center">
		<h:form>  
            Trabalho de WebService - Clique na opção desejada.  
        </h:form>
	</p:layoutUnit>
</p:layout>

</html>