<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h1>Enviar Mensagem</h1>

	<h:form>

		<h:panelGrid columns="4" cellpadding="5">
			<h:outputLabel for="name" value="Name:" style="font-weight:bold" />

			<p:inputText id="name" value="#{pprBean.firstname}" />

			<p:commandButton value="Enviar" update="display" />

			<h:outputText value="#{enviarMensagemBean.enviarMensagem}"
				id="display" />
		</h:panelGrid>

	</h:form>

</h:body>
</html>